<div class="page" data-name="cooler-details">
    <!-- Top Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="/capture/" class="link icon-only">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">COOLER</div>
        </div> 
    </div>
    <div class="page-content login-screen-content">
        <div class="image-wrapper">
            <img src="assets/img/logo.png" alt="Logo" class="cooler-img"/>
        </div>
        <div>
            <div class="list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Serial Number</div>
                                <div class="item-after">1254564</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Name</div>
                                <div class="item-after">Pepsi XL600</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Capacity</div>
                                <div class="item-after">5000 Ltrs</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Store Owner</div>
                                <div class="item-after">Jack Sparrow</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Contact Details</div>
                                <div class="item-after">+254725666888</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <div class="block">
                    <p class="row">
                        <button class="col button button-fill" id="get-quiz-details">CONTINUE</button>
                    </p>
                </div>
                <div class="block text-size-12 text-center">Lorem ipsum dolor sit amet, consecte</div>
            </div>
        </div>
    </div>
</div>